@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* gobales */
body{
    color: #3C3C3C;
    font-family: Raleway, sans-serif;
    font-weight: 300;
    width: 960px;
    margin: auto;
}
a{
    text-decoration: none;
}

/* header */
header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    header a{
        color: #3C3C3C;
        font-weight: 600;
    }

    header a img{
        vertical-align: middle;
        margin: 8px;
    }

    header nav a{
        padding: 6px;
    }

/* main */
main{
    width: 960px;
    margin: auto;
}
    /* hero  banner */
    #hero-banner{
        height: 450px;
        background-image: url(../imgs/hero-banner.jpg);
        background-position: 0 center;
        background-size: 960px;

        display: flex;
        align-items: center;
    }
        #hero-banner h1{
            margin-left: 150px;
            color: #fff;
            font-size: 32px;
            width: 288px;
        }

/* sección promos */
#promos{
    margin-top: 52px;
    height: 382px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FAF0E9;
}
    #promos a{
        color: #3c3c3c;
    }
    #promos a img{
        filter: grayscale(.5);
        transition: 500ms;
    }
    #promos a:hover{
        color: rgb(207, 85, 4);
        transition: 500ms;
    }
    #promos a:hover img{
        filter: grayscale(0);
        box-shadow: 0 0 6px rgb(207, 85, 4);
    }

    #promos article{
        width: 256px;
    }
    #promos article h2{
        font-size: 16px;
        margin: 12px 0px;
    }

/* sección servicios */
#servicios{
    width: 680px;
    height: 372px;
    margin: 52px auto;
    display: flex;
    flex-wrap: wrap; /* respeta los anchos */

    column-gap: 100px;
    row-gap: 32px;

    text-align: center;
}
    #servicios h2{
        width: 100%;
    }
    #servicios a{
        width: 160px;
        height: 140px;
        display: block;
        border: 1px #3C3C3C solid;
        border-radius: 12px;
        color: #3C3C3C;
        transition: 500ms;
    }
    #servicios a:hover{
        background-color: #3c3c3c;
        color: #fff;
    }

    .material-symbols-outlined{
        font-size: 56px;
        margin: 18px 52px;
    }

footer{
    background-color: #3c3c3c;
    height: 160px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
    footer a{
        color: #fff;
    }
        footer a img{
            vertical-align: middle;
            margin: 0px 12px 0px 16px;
        }
    footer div a i{
        margin: 0px 12px;
    }
