@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #bef5da;
    color: #007b1b;
}

h1{
    font-weight: 300;
}
h2{
    font-size: 56px;
}